.filter-buttons {
    display: flex;
    justify-content: flex-start;
    margin-left: 21px;
    margin-bottom: 41px;
  }

  .filter-buttons button {
    font-size: 27px; 
    font-weight: 600;
    padding: 12px 24px; 
    margin-right: 21px;
    background-color: rgb(230, 215, 222);
    color:rgb(120, 20, 32);
    border-radius: 5px;
  }