.filter-buttons {
    display: flex;
    justify-content: flex-start;
    margin-left: 21px;
    margin-bottom: 50px;
  }

  .filter-buttons button {
    font-size: 16px; 
    font-weight: 550;
    padding: 12px 24px; 
    margin-right: 21px;
    background-color: rgb(222, 190, 205);
    color:rgb(73, 33, 52);
  }