.filter-buttons {
    display: flex;
    justify-content: flex-start;
    margin-left: 21px;
    margin-bottom: 41px;
  }

  .filter-buttons button {
    font-size: 41px; 
    font-weight: 600;
    padding: 12px 24px; 
    margin-right: 21px;
    background-color: rgb(207, 204, 216);
    color:rgb(80, 20, 120);
    border-radius: 5px;
    border-color: seashell;
    font-family: monospace;
  }