mat-card{
    background-color:#232121 ;
    min-height: 300px;
    position: relative;
    padding:17px;
    margin-bottom: 13px;
  }

  .example-card mat-card-header mat-card-title {
    font-size: 41px;  
    font-weight: 450; 
    color:#ece9d7;
    line-height: 1.3;
  }

  .example-card mat-card-header mat-card-subtitle {
    color: #cacaca; 
    margin-top: 15px;
    font-size: 27px;
    padding:7px;
    line-height: 1.3;
  }

  .actions {
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 8px;
  }
  
  .actions button {
    margin-left: 8px; 
    background-color: rgb(230, 215, 222);
    color:rgb(120, 20, 32);
    border-radius: 5px; 
    height: 50px;
    width: 50px;
    font-size:25px;
  }

