mat-card{
    background-color:#92a1b0 ;
    min-height: 300px;
    position: relative;
  }

  .example-card mat-card-header mat-card-title {
    font-size: 21px;  
    font-weight: 450; 
    color:#000000
  }

  .example-card mat-card-header mat-card-subtitle {
    font-size: 16px; 
    color: #d4dee3; 
    margin-top: 15px;
    font-size: 17px;
  }

  .actions {
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 8px
  }
  
  .actions button {
    margin-left: 8px; 
    background-color: rgb(222, 190, 205);
    color:rgb(73, 33, 52);
  }