.task-item {
    border: 1px solid #ccc;
    padding:21px;
    border-radius: 10px;
    margin-top:13px;
    margin-left:17px;
    margin-right:17px;
    margin-bottom: 31px;
    background-color:#232121 ;
    min-height: 100px;   
}

.task-name {
    font-size: 41px; 
    color:#ece9d7; 
    font-weight: 450;
    margin-bottom: 30px;
    font-family: monospace;
  }

  .task-description {
    color: #cacaca; 
    margin-top: 15px;
    margin-bottom:5px;
    padding:7px;
    font-size: 27px;   
    line-height: 1.3;
    font-family: monospace;
  }

  .task-row h2{
    color:#6a0909;
    font-weight: 500;
    font-size:x-large;
    font-family: monospace;
  }

  .task-rows{
    padding: 7px;    
    justify-content: space-around;
    margin-bottom:31px;
    font-family: monospace;
   }

  .task-row
   {
     min-height: 80;
     margin: 30px;
     display: flex;
     flex-direction: column;
   }

   .task-actions {
    display: flex;
    justify-content: flex-end; 
    margin-top: 20px;
  }
  
  .task-actions button {
    margin-left: 8px; 
    background-color: rgb(207, 204, 216);
    color:rgb(80, 20, 120);
    border-radius: 5px;
    height: 60px;
    width: 60px;
    font-family: monospace;
    font-size:30px;
  }