<h2 mat-dialog-title class="button">Edit Task</h2> 
<mat-dialog-content id="editTaskContent">
    <mat-form-field class="input">
        <mat-label class = "custom-label">Task Name</mat-label>
        <input matInput class="box" [(ngModel)]="data.title" />
    </mat-form-field>
    <mat-form-field class="input">
        <mat-label class = "custom-label">Description</mat-label>
        <input matInput class="box" [(ngModel)]="data.description" />
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions id="editTaskActions">
    <button mat-button class="button" (click)="cancel()">Cancel</button>
    <button mat-button class="button" (click)="save()">Save</button>
</mat-dialog-actions>
