#editTaskContent{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 29px;
  font-weight: bold;
  width:800px;
  height:auto;
  background-color: rgb(207, 204, 216);
  color:#380606;
  line-height: 44px;
  font-family: monospace;
}

#editTaskActions {
  justify-content: end;
}

.button {
  font-size: 31px;
  color: rgb(207, 204, 216);
  border-color: seashell;
  font-family: monospace;
  margin: 10px;
  padding: 7px;
}

.input-wrapper {
  margin-top:5px;
  font-size: 27px; 
  width: 750px;
  font-family: monospace;
}

.enum-button{
  font-size: 27px;
  color: rgb(207, 204, 216);
  margin: 10px;
  line-height: 44px;
  font-family: monospace;
}

