.example-card {
    min-height: 200px;
  }

  mat-card{
    background-color:#92a1b0 ;
  }

  .task-column h2{
    color:#6a0909;
    font-weight: 500;
    font-size:x-large;
  }

  .task-columns{
     display: flex;
     padding: 7px;    
     justify-content: space-around;
    }

   .task-column
    {
      min-height: 80;
      margin: 10px;
      display: flex;
      flex-direction: column;
    }
