.example-spacer {
    flex: 1 1 auto;
  }
  mat-toolbar {
    background-color: #212121; 
    height:110px;
  }
  
  button {
    font-size: 21px;
  }

  .bar-button{
    font-size: 47px;
    font-family: monospace;
    margin-right: 51px;
  }