.buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.buttons button{
  background-color: #bad0d8;
  color:#1e2246;
  padding:7px 7px; 
}

.mat-icon{
  font-size: 25px;
  font-weight: 590;
}

.toggle-button {
  margin-left: 10px;
  font-size: 16px;
  padding: 10px 20px;
}